{% extends "admin.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content_block %}
	<div class="row">
		<div class="col-xs-12">				           
			<div class="top-container disabled-bnt">
				<div class="top-image-container">
					<a class="disabled-bnt" href="#">
						<img class="img-responsive top-image" src="images/Index-01.png" alt="">
					</a>
				</div>
				<div class="top-label-container">
					<a class="disabled-bnt" class="top-text" href="#">iTareas</a>
				</div>
			</div>
			<div class="top-container disabled-bnt">
				<div class="top-image-container">
					<a class="disabled-bnt" href="#">
						<img class="img-responsive top-image" src="images/Index-02.png" alt="">
					</a>
				</div>
				<div class="top-label-container">
					<a class="disabled-bnt" class="top-text" href="#">iPickUp</a>
				</div>
			</div> 
			<div class="top-container disabled-bnt">
				<div class="top-image-container">
					<a class="disabled-bnt" href="#">
						<img class="img-responsive top-image" src="images/Index-03.png" alt="">
					</a>
				</div>
				<div class="top-label-container">
					<a class="disabled-bnt" class="top-text " href="#">iInvestiga</a> 
				</div>
			</div>
			<div class="top-container">
				<div class="top-image-container">
					<a href="/adm/pedidos">
						<img class="img-responsive top-image" src="images/Index-04.png" alt="">
					</a>
				</div>
				<div class="top-label-container">
					<a class="top-text " href="/adm/pedidos">iProyecta</a> 
				</div>
			</div>
		</div>
	</div>
{% endblock %}
