<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style2.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="images/icon.ico"/>
		<title>iProyecta</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img class="img-responsive iproyecta-header" src="images/iproyectaHeader.png" alt="">
				</div>
			</div>
			<div class="top-options-header">
				<div class="col-xs-12 col-md-6 row-centered mainlogo">
					<img class="img-responsive" src="images/Logoprincipal.png" alt="">
				</div>
				<!-- <div class="clearfix visible-md-block"></div> -->
				<div class="col-xs-12 col-md-6 row-centered">
					<div class="top-container col-centered">
						<div class="top-image-container">
							<a href="#">
								<img class="img-responsive top-image" src="images/Index-01.png" alt="">
							</a>
						</div>
						<div class="top-label-container">
							<a class="top-text text-top-result" href="">iTareas</a>
						</div>
					</div>
					<div class="top-container col-centered">
						<div class="top-image-container">
							<a href="#">
								<img class="img-responsive top-image" src="images/Index-02.png" alt="">
							</a>
						</div>
						<div class="top-label-container">
							<a class="top-text text-top-result" href="">iPickUp</a>
						</div>
					</div> 
					<div class="top-container col-centered">
						<div class="top-image-container">
							<a href="#">
								<img class="img-responsive top-image" src="images/Index-03.png" alt="">
							</a>
						</div>
						<div class="top-label-container">
							<a class="top-text text-top-result" href="">iInvestiga</a> 
						</div>
					</div>
					<div class="top-container col-centered">
						<div class="top-image-container">
							<a href="#">
								<img class="img-responsive top-image" src="images/Index-04.png" alt="">
							</a>
						</div>
						<div class="top-label-container">
							<a class="top-text text-top-result" href="">iProyecta</a> 
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class=" header-divider color-iproyecta iproyecta-header"></p>
				</div>
			</div>
			<div class="mid-options-header">
				<div class="col-md-6 buho-image">
					<img class="img-responsive buho-image" src="images/buho.png" alt="">
				</div>
				<div class="col-md-6">
					<form method="post">
						{% if success: %}
						<div class="col-md-12">
							<div class="alert alert-success" role="alert">
								{{success}}
							</div>
						</div>
						{% endif %}
						<div class="col-md-12 form-group">
							<label>Nombre</label>
							<input type="text" class="form-control" name="nombre" value="{{nombre}}" placeholder="" required>			
						</div>
						<div class="col-md-12 form-group">
							<label>Celular</label>
							<input type="text" class="form-control bfh-phone" name="celular" value="{{celular}}" placeholder="" data-format="(ddd) ddd-dddd" required>
						</div>
						<div class="col-md-12 form-group">
							<label>Fecha y hora</label>
							<input type="datetime-local" class="form-control" name="fecha" required>
						</div>
						{% if error: %}
						<div class="col-md-12">
							<div class="alert alert-danger" role="alert">
								{{error}}
							</div>
						</div>
						{% endif %}
						<div class="col-md-12 form-group">
							<label>Aula y edificio</label>
							<input type="text" class="form-control" name="aula_edificio" value="{{aula_edificio}}" placeholder="" required>
						</div>
						<div class="col-md-12 form-group">
							<label>Observaciones</label>
							<textarea class="form-control" rows="3" name="observaciones">{% if observaciones %}{{observaciones}}{% endif %}</textarea>
						</div>
						<div class="col-md-12">
							<label>Servicios Requeridos</label>
						</div>
						<div class="col-md-12 checkbox">
							<label><input type="checkbox" value="Bocinas" name="servicio">Bocinas</label><span class="pricing">RD$<span>25</span></span>
						</div>
						<div class="col-md-12 checkbox">
							<label><input type="checkbox" value="Laptop" name="servicio">Laptop</label><span class="pricing">RD$<span>50</span></span>
						</div>
						<div class="col-md-12 checkbox">
							<label><input type="checkbox" value="Puntero" name="servicio">Puntero</label><span class="pricing">RD$<span>25</span></span>
						</div>
						<div class="col-md-12 checkbox">
							<label><input type="checkbox" value="DataShow" name="servicio" checked>DataShow</label><span class="pricing">RD$<span>50</span></span>
						</div>
						<div class="col-md-12">
							<label>Especifique</label>
						</div>
						<div class="col-md-12 radio">
							<label>
								<input type="radio" name="especifique" value="recoger" required>Recoger en la tienda
							</label>
						</div>
						<div class="col-md-12 radio">
							<label>
								<input type="radio" name="especifique" value="llevar" required>Llevar al aula<span class="pricing">RD$<span>25</span></span></label>
							</div>
							<div class="col-md-12 form-group">
								<span>Total:</span><span class="pricing" id="total">RD$<span>50</span></span>
							</div>
							<div class="col-md-12">
								<button class="btn btn-lg btn-primary btn-itarea btn-block" type="submit">Ordenar</button>
							</div>
						</form>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-formhelpers-phone.js"></script>
		<script src="js/calcPrecios.js"></script>
	</body>
	<footer class="footer color-iproyecta footer-divider">
		<div class="container">
			<p class="text-muted">.</p>
		</div>
	</footer>
</html>