{% extends "headercomponent.html" %}

{% block nav_items %}
	<li><a href="/signup">SignUp</a></li>	
{% endblock %}
				
{% block content_block %}
<!-- <div class="col-md-3 ">
	<img class="" src="images/icon.png" alt="" width="340px">
</div> -->
<div class="col-md-2 col-md-offset-5">

<!-- FROM HERE -->
	<div class="">
		<div class="col-md-12">
			<h1>Log In</h1>
		</div>
	</div>
	<div class="">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<form method="post">		
		<div class="form-group">
		    <!-- <label for="Username">Username</label> -->
			<input type="text" class="form-control" id="username" name="username" value="" placeholder="Username">			
		</div>

		<div class="form-group">
			<!-- <label for="Password">Password</label> -->
			<input type="password" class="form-control" id="Password" name="password" value="" placeholder="Password">
			
		</div>
		<!-- <div class="form-group"> -->
			<!-- <div class="col-md-12"> -->
				{% if error: %}
				<div class="alert alert-danger" role="alert">
					<strong>Oh snap! </strong>{{error}}
				</div>
				{% endif %}						
			<!-- </div> -->
		<!-- </div> -->
		
		<div class="form-group">
			<div class="col-mid-12">
				<!-- <input type="submit" class="btn btn-info" value="Log In"> -->
				<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>					
			</div>
		</div>
	</form>
		<!-- TO HERE -->
	</div>
{% endblock %}