{% extends "admin.html" %}

{% block pageTitle %}
Pedido {{ pedido.key().id()}} {{ pedido.estado }}
{% endblock %}

{% block content_block %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 more-details">
				<strong>Nombre:</strong> {{ pedido.nombre }}
				<br>
				<strong>Celular:</strong> {{ pedido.celular }}
				<br>
				<strong>Total:</strong> RD${{ pedido.total }} 
				<br>
				<strong>Observaciones:</strong> {{ pedido.observaciones }}
				<br>
				<strong>Servicios:</strong>
				{% for servicio in pedido.servicios %}
					{{ servicio }}
				{% endfor %} 
				<br>
				<strong>Aula y Edificio:</strong> {{ pedido.aula_edificio }} 
				<br>
				<strong>Para {{ pedido.especifique }}</strong>
			</div>
			<form action="/adm/pedidos/{{ pedido.estado }}/{{ pedido.key().id()}}" method="post">
				<input type="hidden" value="{{ pedido.key().id()}}" name="key_pedido" />
				{% if pedido.estado == "Pendiente" %}
					<div class="col-md-3">
						<input name="Cancelar" class="btn btn-lg btn-danger btn-itarea btn-block" type="submit" value="Cancelar"></input>
					</div>
					<div class="col-md-3">
						<input name="Completar" class="btn btn-lg btn-success btn-itarea btn-block" type="submit" value="Completar"></input>
					</div>
				{% endif %}
				{% if pedido.estado == "Completado" %}
					<div class="col-md-3">
						<input name="Pendiente" class="btn btn-lg btn-warning btn-itarea btn-block" type="submit" value="Pendiente"></input>
					</div>
					<div class="col-md-3">
						<input name="Cancelar" class="btn btn-lg btn-danger btn-itarea btn-block" type="submit" value="Cancelar"></input>
					</div>
				{% endif %}
				{% if pedido.estado == "Cancelado" %}
					<div class="col-md-3">
						<input name="Pendiente" class="btn btn-lg btn-warning btn-itarea btn-block" type="submit" value="Pendiente"></input>
					</div>
					<div class="col-md-3">
						<input name="Completar" class="btn btn-lg btn-success btn-itarea btn-block" type="submit" value="Completar"></input>
					</div>
				{% endif %}
			</form>
		</div>
	</div>
{% endblock %}