{% extends "admin.html" %}

{% block pageTitle %}
Productos
{% endblock %}

{% block content_block %}
    <div class="row">
        <div class="container">
            <form method="post">
                <div class="col-md-2 form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" value="{{nombre}}" placeholder="" required>
                </div>
                <div class="col-md-2 form-group">
                    <label>Precio</label>
                    <input type="text" class="form-control" name="precio" value="{{precio}}" placeholder="" required>
                </div>
                <div class="col-md-2 form-group">
                    <label>Estado</label>
                    <input type="text" class="form-control" name="estado" value="{{estado}}" placeholder="" required>
                </div>
                <div class="col-md-2 form-group">
                    <label>TypeProd</label>
                    <input type="text" class="form-control" name="typeProd" value="{{typeProd}}" placeholder="" required>
                </div>
                <div class="col-md-2 form-group">
                    <label>Pertenece a</label>
                    <input type="text" class="form-control" name="nombreDeServicioPertenece" value="{{nombreDeServicioPertenece}}" placeholder="" required>
                </div>
<!--                 <div class="col-md-2 form-group"> Cambiar Pertenece a por este dropdown
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Pertenece a
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Iproyecta</a></li>
                        <li><a href="#">Iinvestiga</a></li>
                        <li><a href="#">IpickUp</a></li>
                      </ul>
                    </div>
                </div> -->
                <div class="col-md-2">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Agregar</button>
                </div>
            </form>
            <div>
                {% if productos %}
                    {% for prod in productos %}
                    <div class="test-box col-md-4">
                        <div class="col-md-12 more-details">
                            <strong>{{prod.nombre}}</strong></a>
                            <strong>RD{{prod.precio}} </strong> 
                            Estado: {{prod.estado}},
                            Tipo: {{prod.typeProd}},
                            Pertenece a: {{prod.nombreDeServicioPertenece}}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}    
            </div>
        </div>
    </div>
{% endblock %}