{% extends "admin.html" %}

{% block pageTitle %}
	Pedidos
{% endblock %}

{% block content_block %}
	<div class="row">
		<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
			<ul id="myTabs" class="nav nav-tabs tap-font" role="tablist">
				<li role="presentation" class="active"><a href="#Pendientes" id="Pendientes-tab" role="tab" data-toggle="tab" aria-controls="Pendientes" aria-expanded="true">Pendientes</a></li>
				<li role="presentation" class=""><a href="#Completados" role="tab" id="Completados-tab" data-toggle="tab" aria-controls="Completados" aria-expanded="false">Completados</a></li>
				<li role="presentation" class=""><a href="#Cancelados" role="tab" id="Cancelados-tab" data-toggle="tab" aria-controls="Cancelados" aria-expanded="false">Cancelados</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade active in" id="Pendientes" aria-labelledby="Pendientes-tab">
					<div class="container">
						{% for pedido in pedidos %}
							{% if pedido.estado == "Pendiente" %}
								<div class="test-box col-md-4">
									<div class="col-md-12 more-details">
										<a href="/adm/pedidos/{{pedido.estado}}/{{pedido.key().id()}}"><strong>{{ pedido.nombre }}</strong></a>
										<strong>{{ pedido.celular }}, RD${{ pedido.total }}</strong> 
										{{ pedido.observaciones }},
										{% for servicio in pedido.servicios %}
										{{ servicio }},
										{% endfor %} 
										{{ pedido.aula_edificio }} 
										{{ pedido.especifique }}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="Completados" aria-labelledby="Completados-tab">
					<div class="row">
						{% for pedido in pedidos %}
							{% if pedido.estado == "Completado" %}
								<div class="test-box col-md-4">
									<div class="col-md-12 more-details">
										<a href="/adm/pedidos/{{pedido.estado}}/{{pedido.key().id()}}"><strong>{{ pedido.nombre }}</strong></a>
										<strong>{{ pedido.celular }}, RD${{ pedido.total }}</strong> 
										{{ pedido.observaciones }},
										{% for servicio in pedido.servicios %}
										{{ servicio }},
										{% endfor %} 
										{{ pedido.aula_edificio }} 
										{{ pedido.especifique }}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="Cancelados" aria-labelledby="Cancelados-tab">
					<div class="row">
						{% for pedido in pedidos %}
							{% if pedido.estado == "Cancelado" %}
								<div class="test-box col-md-4">
									<div class="col-md-12 more-details">
										<a href="/adm/pedidos/{{pedido.estado}}/{{pedido.key().id()}}"><strong>{{ pedido.nombre }}</strong></a>
										<strong>{{ pedido.celular }}, RD${{ pedido.total }}</strong> 
										{{ pedido.observaciones }},
										{% for servicio in pedido.servicios %}
										{{ servicio }},
										{% endfor %} 
										{{ pedido.aula_edificio }} 
										{{ pedido.especifique }}
									</div>
								</div>
							{% endif %}	
						{% endfor %}
					</div>                   
				</div>
			</div>			
		</div>			
	</div>

{% endblock %}