{% extends "admin.html" %}

{% block nav_items %}
{% endblock %}

{% block content_block %}

<div class="row">
  <div class="col-md-12">
    <h1>Sign Up</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

<form method="post">

  <div class="input-group">
    <span class="input-group-addon">Username</span> 
    <input type="text" class="form-control" name="username" value="{{user}}" placeholder="Username">     
  </div>

  <div class="form-group">
    <div class="col-md-12">
      {% if usererror: %}
      <div class="alert alert-danger" role="alert">
        {{usererror}}
      </div>
      {% endif %}           
    </div>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Password</span> 
    <input type="password" class="form-control" name="password" value="" placeholder="Password"
    required
    data-fv-emailaddress-message="The input is not a valid email address">        
  </div>

  <div class="form-group">
    <div class="col-md-12">
      {% if passworderror: %}
      <div class="alert alert-danger" role="alert">
        {{passworderror}}
      </div>
      {% endif %}           
    </div>
  </div>


  <div class="input-group">
    <span class="input-group-addon">Verify Password</span> 
    <input type="password" class="form-control" name="verify" value="" placeholder="">        
  </div>

  <div class="form-group">
    <div class="col-md-12">
      {% if verifyerror: %}
      <div class="alert alert-danger" role="alert">
        {{verifyerror}}
      </div>
      {% endif %}           
    </div>
  </div>


  <div class="input-group">
    <span class="input-group-addon">Email (optional)</span> 
    <input type="email" class="form-control" name="email" value="{{email}}" placeholder="email@example.com">     
  </div>

  <div class="form-group">
    <div class="col-md-12">
      {% if emailerror: %}
      <div class="alert alert-danger" role="alert">
        {{emailerror}}
      </div>
      {% endif %}           
    </div>
  </div>

  <div class="form-group">
    <div class="col-mid-12">
      <input type="submit" class="btn btn-info" value="Sign Up">
    </div>
  </div>

</form>    

{% endblock %}      
