	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #25AAE1;
		line-height: 1.75em;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	p
	{
	}
	
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #383326;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	/*.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
	}*/
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/
	.image-logo
	{
		width: 35px;
		padding-right: 5px;
	}

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Title Styles                                                                   */
/*********************************************************************************/
	.title-logo
	{
		display: inherit;
		font-family: replay;
		font-weight: normal;
	}

	.title
	{
		padding: 0em 0em;
		margin-bottom: 3em;
	}
	
	.title h2
	{
		margin-bottom: 1em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2em;
		color: #383326;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 3em 1em 2em;
		background: #1E92C1;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 320px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

	#wrapper
	{
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		padding: 3em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 2em;
		left: 0;
	}
	
	#logo h1
	{
	}
	
	#logo a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.9);
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 2em;
		right: 0;
		font-size: 20px;
	}
	
	.menu-ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 0.7em 1.5em;
		text-decoration: none;
		color: rgba(255,255,255,0.9);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: rgba(0,0,0,0.5);
		border-radius: 20px;
		color: rgba(255,255,255,0.8);
	}
	
	#menu .current_page_item a
	{
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

	.dropdown-menu-li
	{
		padding-top: 15px;
		margin-right: 5px;
	}

	.navbar-inverse .navbar-nav>li>a
	{
		color:white;
		font-family: replay;
   		font-weight: normal;
   		font-size: 35px;
	}
	.panel-combox-itareas
	{
		background-color: #2e6da4;
		color:white;
		font-family: replay;
   		font-weight: normal;
   		font-size: 35px;    	
	}

	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
	{
		background-color: #eeeeee;
		color: #333;
	}

    
/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #D7D4C3;
		padding-bottom: 20em;
	}

	.tap-font
	{
		font-size: 1.5em;
	}
	
	.complete-option
	{
		background-color: #2ecc71;;
	}

	.pending-option
	{
		background-color: #f1c40f;
	}

	.cancel-option
	{
		background-color: #e74c3c;
	}

	.center-option-dropdown
	{
		top: 70%;
    	left: 30px;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}


	.box
	{
		background: #F0EFE9;
		margin-bottom: 2em;
	}
	
	.box .margin-btm
	{
		margin-bottom: 2em;
	}
	
	.box .details
	{
		display: block;
		padding: 1em 2em 1em 2em;
	}
	.test-box{
		display: inline-block;
		flex-wrap: nowrap;
		height: 135px;
		background: #F0EFE9;
		margin-bottom: 5px;
		outline: 5px solid #25AAE1;
	}
	.more-details{
		height: 50%;
	}


/*********************************************************************************/
/* Colors                                                                        */
/*********************************************************************************/

	.red-close
	{
		background: #B31F2D;
	}

	.yellow-inprocess
	{
		background: #BFBA00;
	}

	.red-close-label
	{
		color: #B31F2D;
	}

	.yellow-inprocess-label
	{
		color: #BFBA00;
	}

	.navbar-itareas 
	{
    	background-color: #25AAE1;
   	 	border-color: #25AAE1;
   	 	padding-top: 18px;
	}

/*********************************************************************************/
/* Roogle menu                                                                   */
/*********************************************************************************/

#menu-toggle 
{
  display: none; /* hide the checkbox */
}
.menu-toggle
{
  display: none;
}

.menu-option-1:hover + .menu-toggle
{

}
