* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FFFFFF;;
}

.footer-text{
  color: #0B0B0B;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  margin:26px;
}

a {
  text-decoration: none;
}

a.footer-text:hover{
  /*text-decoration: underline;  */
  border-bottom: 3px solid #623B15;  
}

.top-text{
  color: #0B0B0B;
  font-family: 'Arial', sans-serif;
  text-decoration: none;  
}

.top-container
{
  display: inline-block;
  width: 5%;
  text-align: center;
  float: right; /* testiong */
  margin-right: 7px;
}

.top-label-container
{
  display: inline;
}

.top-image-container
{
  display: block;
}

.title-box
{ 
  background-color: #25AAE1;

}
.container-result
  {
    overflow: hidden;
    margin: 0em auto;
    width: 1000px;
  }
.box
  {
    background: #F0EFE9;
    margin-bottom: 4em;
  }
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/
.button-container
{
  float: right;
}
  .button
  {
    display: inline-block;
    padding: 1em 1em 1em 1em;
    background: #1E92C1;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #FFF;
    border-radius: 20px;   
  }
  
  .button:before
  {
    display: inline-block;
    background: #FFC31F;
    margin-right: 1em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #272925;
  }
.title
  {
    padding: 0em 0em;
    margin-bottom: 3em;
    padding-top: 12px;
  }
 .box .details
  {
    display: block;
    padding: 1em 2em 1em 2em;
  }

  .title h2
  {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    color: #383326;
    display: inline-block;
    padding-left: 0; 
  }  

.top-center-links{
  display: inherit;
  padding: 0px;
}

.top-form-wrapper {
    width: 95%;
    padding-bottom: 11px;
    margin: auto;
    overflow: hidden;
}

a.top-text:hover{
  /*text-decoration: underline;  */
  border-bottom: 3px solid #623B15;  
}

h1 {
  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;

}

.buttcss {
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0px 20px;
  border: 1px solid #018dc4;
  /*border-radius: 3px;*/
  font: normal 16px/normal "Arial Black", Times, serif;
  color: rgba(255,255,255,0.9);
  text-overflow: clip;
  background: #0199d9;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}


.welcome-message {
  font-style: italic;
  font-size: 22px;
  
  color: #296652;
  line-height: 28px;
}

.cyan-footer {
  background-color: rgba(0, 173, 240, 0.53);
  line-height: 39px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.input-search{
  width: 45%;
  height: 32px;
  font-size: 30px;
  /*border-radius: 5px;*/
}
.center-links{
  display: inherit;
  padding: 0px;
  font-size: 26px;
}
.left-links{
  padding:0px;
}
.right-links{
  float: right;
  padding:0px;
}

.orange-text {
  color: #F5AE23;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

.LogoContainer {
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;`
  }

img {
    padding-top: 6%;
  }

.search-icon {
  width: 15%;
  padding-top: 0%;
}

.page-icon {
  width: 100%;
  padding-top: 0%;
  cursor: pointer;
  min-width: 62px;
  /*float: right;*/
}

.header-container{
  float: right;
  background-color: #25AAE1; 

}

.text-top-result
{
  color: white;
  font-size:  17px;
}

.logo-result
{
  float: left;
  display: inline-flex;
}

.image-logo
  {
    width: 35px;
    padding-top: 0;
  }

  .title-logo
  {
    display: inherit;
    font-family: replay;
    font-weight: normal;
    color: white;
    font-size:  65px;
    /*border-bottom: 3px solid #623B15;  */
  }


/* Bar chart stuff */
@media only screen and (max-width: 1024px) {
  .top-container {
  margin-right: 58px; 
 }

}

@media only screen and (max-width:900px) {



}

@media only screen and (max-width: 1270px) {
   .container-result {
    width: 100%;
  }
  .title {
    text-align: center;
}
.top-container {
  margin-right: 20px;
}
}


@media only screen and (max-width: 590px) {

  #portada{
    width: 92%;
  }
  .logo-result {
    display:block;
  }
  
  .row-centered 
{
    text-align:center;
}

.col-centered 
{
    display:inline-block;
    float:none;
    
}
.itareas-link-index{
  display:none;
}
}


/*-------------search box----------------*/

.form-wrapper {
    width: 95%;
    padding-bottom: 11px;
    margin: auto;
    overflow: hidden;
}

.form-wrapper #search {
    width: calc(100% - 108px);
    height: 20px;
    padding: 10px 5px;
    float: left;    
    /*font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';*/
    font-size: 27px;
    border: 2px solid #ccc;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    border-radius: 3px;      
}

.search-icon:focus {
    outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset;  
}

.form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

.form-wrapper #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.form-wrapper #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
} 

.search-icon {
    float: right;    
    height: 44px;
    width: 90px;
    padding: 0;
    cursor: pointer;    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;      
    text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}
  
.search-icon:hover,
.search-icon:focus {       
    background-color: #31b2c3;
    background-image: linear-gradient(top, #0483a0, #31b2c3);
}   
  
.search-icon:active {
    outline: 0;    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}
  
.search-text-input
{
   height: 44px;
  width: calc(100% - 95px);
   font-size: 25px;
}

