.top-image
{
	max-width: 70px;
}

.top-container 
{
    display: inline-block;
    text-align: center;
}

.top-text
{
	color: black;
} 

a.top-text:hover
{	
	color: #25AAE1; 
	text-decoration: none;
	border-bottom: 3px solid #623B15;  
}

.buho-image
{
	padding-top: 45px;
}

.iproyecta-header
{
	margin: 0 auto;
    width: 900px;
}

.panel-body-upload
{
    padding: 45px;
}

.top-options-header
{
	margin: 0 auto;
	width: 57%;
    padding-bottom: 15px;
}

.mid-options-header
{
    margin: 0 auto;
    width: 78%;
    padding-bottom: 15px;
}
.row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}

.row-centered 
{
    text-align:center;
}

.col-centered 
{
    display:inline-block;
    float:none;
    
}

.text-upload
{
    font-size: 15px;
    text-align: center;
}

.panel-darkgray
{
    border-color: #9E9797;
}

.text-upload-acuerdo
{
    font-size: 12px;
    text-align: center;
    color:gray;
}

.button-pad
{
    padding-top: 10px;
}

.btn-itarea
{
     color: #fff;
     background-color: #25AAE1;
     border-color: #2e6da4;
}

.color-iproyecta
{
    background-color: #25AAE1;
}

.header-divider
{
    height: 40px;
}

.footer-divider
{
    height: 40px;
    margin-top: 5px;
}

.pricing
{
    padding-left: 20px;
}

@media only screen and (max-width: 750px) {
    .top-options-header
    {
        width: 100%;
    }
    .mid-options-header
    {
        width: 100%;        
    }
   .buho-image
    {
        margin: auto;
        display: none;
    }
    .container 
    {
        padding-left: 0;
        padding-right: 0;
    }
    .iproyecta-header
    {
        margin: 0 auto;
        width: 100%;
    } 
    div.top-options-header > div:nth-child(2) > div:nth-child(4)
    {
        display: none;
    }
    .mainlogo
    {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .header-divider
    {
        display: none;
    }
    .buho-image
    {
        margin: auto;
        display: none;
    }
}
@media only screen and (max-width: 1199px) {
    .top-options-header
    {
        width: 100%;
    }
    .mid-options-header
    {
        width: 95%;
    }
}